/* documentation */

.docs .content {
  position: relative;
  margin: 10px auto;
  margin-bottom: 10px;
  min-height: 800px;
}

.docs .toggle-docs-menu {
  display: none;
  font-size: 20px;
}

.docs .sidebar {
  display: block;
  position: absolute;
  top: 20px;
  width: 190px;
}

.docs .sidebar h1 {
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 18px
}

.docs .sidebar h1:first-child {
  margin-top: 0;
}

.docs .sidebar h1 a {
  color: #404040;
  text-decoration: none;
}
.docs .sidebar h1 a:hover {
  text-decoration: underline;
}

.docs .sidebar ul {
  list-style: none;
}

.docs .sidebar ul li {
  font-size: 14px;
  margin: 0 0 10px 5px;
}

.docs .sidebar ul li.active {
  color: #333;
}

.docs .sidebar ul li:first-child {}

.docs .sidebar ul li a {
  color: #666;
  text-decoration: none;
}

.docs .sidebar ul li a:hover {
  text-decoration: underline;
}

.docs .page {
  margin-left: 190px;
  min-height: 500px;
  padding: 20px;
}

@media (max-width: 768px) {
  .docs .toggle-docs-menu {
    display: block;
  }
  
  .docs .sidebar {
    display: none;
    position: relative;
    margin-bottom: 50px;
  }
  
  .docs .page {
    margin-top: 10px;
    margin-left: 0;
    padding: 0;
  }
}
