/* Resets */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%;
}

body {
  background: #f0f0f0;
  font: 20px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  /* font-family: "Open Sans"; */
  /* font-family: "Lato"; */
}

.home { }

.home .title {
  min-width: 900px;
  margin-bottom: 30px;
  background: #52779c;
  background: linear-gradient(top, #52779c, #234878);
  background: -moz-linear-gradient(top, #52779c, #234878);
  background: -webkit-linear-gradient(top, #52779c, #234878);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.home .title .content {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 750px;
  text-align: center;
}

.home .title h1 {
  padding: 15px 0 10px 0;
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  font-size: 60px;
}

.home .title h2 {
  padding: 0 0 15px 0;
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  color: #cfdde8;
}

.home .title img {
  width: 150px;
  height: 150px;
}

.home .title ul {
  padding: 0 0 35px 0;
  color: #d5e5f0;
}

.home .title li {
  display: inline-block;
}

.home .title a {
  color: #bed2e2;
  text-decoration: none;
}

.home .title a:hover {
  color: #d5e5f0;
}

.home .content-area {
  margin-bottom: 100px;
  min-width: 900px;
}

.home .content-area .content {
  margin: 0 auto;
  width: 650px;
  text-align: center;
  text-shadow: 0 2px 0 #fff;
  color: #737373;
}

.home .content-area h1 {
  padding-bottom: 20px;
  font-size: 28px;
}

.home .content-area p {
  padding-bottom: 35px;
  font-size: 20px;
  line-height: 1.3em;
}

.home .content-area ul {
  margin: 0 auto;
  padding: 10px 10px 25px 10px;
  width: 400px;
  border-radius: 4px;
  background: #fafafa;
  background: linear-gradient(top, #fff, #f5f5f5);
  background: -moz-linear-gradient(top, #fff, #f5f5f5);
  background: -webkit-linear-gradient(top, #fff, #f5f5f5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  list-style: none;
}

.home .content-area ul li { }

.home .content-area ul li h1 {
  margin-bottom: 10px;
  color: #3d628c;
  font-size: 30px;
}

.home .content-area ul li h2 {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.home .content-area ul li p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.4em;
}

.home .content-area a {
  color: inherit;
}

.home .content-area a:hover {
  color: #4d4d4d;
}

.home a.button {
  padding: 10px 15px;
  border-radius: 5px;
  background: #52779c;
  background: linear-gradient(top, #52779c, #234878);
  background: -moz-linear-gradient(top, #52779c, #234878);
  background: -webkit-linear-gradient(top, #52779c, #234878);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  color: #eaedf8;
  text-decoration: none;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.home a.button:hover {
  color: #eaedf8;
  background: #5c85b0;
  background: linear-gradient(top, #5c85b0, #234878);
  background: -moz-linear-gradient(top, #5c85b0, #234878);
  background: -webkit-linear-gradient(top, #5c85b0, #234878);
  text-decoration: none;
}

.home a.button:active {
  background: #426181;
  background: linear-gradient(top, #426181, #234878);
  background: -moz-linear-gradient(top, #426181, #234878);
  background: -webkit-linear-gradient(top, #426181, #234878);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header {
  margin-bottom: 15px;
  min-width: 902px;
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: #52779c;
  background: linear-gradient(top, #52779c, #234878);
  background: -moz-linear-gradient(top, #52779c, #234878);
  background: -webkit-linear-gradient(top, #52779c, #234878);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: default;
}

.header .content {
  display: block;
  margin: 0 auto;
  padding: 14px 0 0 0;
  max-width: 900px;
  width: auto;
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 16px;
}

.header img {
  position: relative;
  top: -8px;
  float: left;
  padding-right: 8px;
  height: 35px;
}

.header a {
  color: #d8e4ed;
}

.header h1 {
  color: #fff;
  float: left;
}

.header ul {
  margin-top: 0;
  margin-right: 4px;
}

.header ul li {
  display: inline-block;
  margin-top: -14px;
  margin-right: -4px;
  height: 48px;
  padding: 0 12px;
  list-style: none;
  float: right;
}

.header ul li div {
  margin-top: 14px;
}

.header ul li.title {
  margin: 0;
  padding: 0;
  float: left;
}

.header ul li.active {
  color: #eff9fc;
  background: #334f78;
  background: linear-gradient(top, #334f78, #2e4466);
  background: -moz-linear-gradient(top, #334f78, #2e4466);
  background: -webkit-linear-gradient(top, #436180, #1d3c66);
}

.header ul li a {
  color: inherit;
  text-decoration: none;
}

.docs .content-area {
  position: relative;
  margin: 10px auto;
  margin-bottom: 10px;
  width: 900px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  width: 190px;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  background: #fafafa;
}

.docs .sidebar ul {
  list-style: none;
}

.sidebar li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  font-weight: bold;
  font-size: 15px;
}

.sidebar li div {
  padding: 7px 10px;
}

.sidebar li.active {
  background: #fff;
  color: #333;
}

/* arrow box -- cssarrowplease.com */
.sidebar li.active {
  position: relative;
  background: #fff;
}
.sidebar li.active:after, .sidebar li:before {
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: " ";
  pointer-events: none;
}
.sidebar li.active:after {
  top: 50%;
  margin-top: -6px;
  border-width: 6px;
  border-left-color: #fff;
}
.sidebar li.active:before {
  top: 50%;
  margin-top: -7px;
  border-width: 7px;
  border-left-color: #b3b3b3;
}
/* end arrow box */

.sidebar li:first-child {
  border-top-left-radius: 3px;
}

.sidebar a {
  color: #666;
  text-decoration: none;
}

.sidebar li:hover {
  background: #fff;
  cursor: pointer;
}

.docs .page {
  margin-left: 190px;
  min-height: 500px;
  border-left: 1px solid #ccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.page {
  padding: 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  line-height: 1.5em;
}

.page h1 {
  margin-bottom: 0.75em;
  font-size: 24px;
}

.page h2 {
  margin-top: 1.2em;
  margin-bottom: 0.75em;
  font-size: 20px;
}

.page p {
  margin-bottom: 0.75em;
}

.page ul {
  list-style-position: inside;
  margin-left: 10px;
  margin-bottom: 1em;
}

.page code {
  padding: 0 6px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fafafa;
  font-size: 15px;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

.page pre code {
  display: block;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  line-height: 1.33em;
  color: inherit;
}

.page a { color: #234878; }

.single-page .page {
  border-radius: 3px;
}

.single-page .content-area {
  position: relative;
  margin: 10px auto;
  margin-bottom: 10px;
  width: 900px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.footer {}

.footer .content {
  margin: 0 auto;
  max-width: 900px;
  width: auto;
  color: #666666;
  font-size: 14px;
  min-height: 25px;
}
