<div class="section header">
  <div class="content">
    <nav>
      <a class="logo-link" href="/">
        <div class="logo"></div>
        BlueButton.js
      </a>
      <ul class="expanded">
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/sandbox.html">Sandbox</a></li>
        <li><a href="/community.html">BlueButton Community</a></li>
        <li><a href="/download.html">Download</a></li>
      </ul>
      <ul class="collapsed">
        <li><a href="javascript:toggleMenu();"><div class="icon menu"></div></a></li>
      </ul>
    </nav>
    <div id="menu" class="collapsed-menu">
      <ul>
        <a href="/docs"><li>Documentation</li></a>
        <a href="/sandbox.html"><li>Sandbox</li></a>
        <a href="/community.html"><li>BlueButton Community</li></a>
        <a href="/download.html"><li>Download</li></a>
      </ul>
    </div>
  </div>
</div>

<script>
  function toggleMenu() {
    var el = document.getElementById('menu');
    if (el.style.display === '') el.style.display = 'none';
    
    if (el.style.display === 'block') {
      el.style.display = 'none';
    } else {
      el.style.display = 'block';
    }
  }
  
  window.addEventListener('resize', function (event) {
    var el = document.getElementById('menu');
    el.style.display = 'none';
  });
</script>
