
<div class="header">
  <div class="content">
    <ul>
      <li class="title">
        <a href="/">
          <img src="/img/bb_logo_sm.png" alt="" />
          <h1>BlueButton.js</h1>
        </a>
      </li>
        {% if page.url == '/community.html' %}
          <li class="active"><div>Community</div></li>
        {% else %}
          <a href="/community.html"><li><div>Community</div></li></a>
        {% endif %}
        
        {% if page.url == '/sandbox.html' %}
          <li class="active"><div>Sandbox</div></li>
        {% else %}
          <a href="/sandbox.html"><li><div>Sandbox</div></li></a>
        {% endif %}
        
        {% if page.url contains '/docs' %}
          <li class="active"><div>Documentation</div></li>
        {% else %}
          <a href="/docs"><li><div>Documentation</div></li></a>
        {% endif %}
    </ul>
  </div>
</div>
