
<div class="header">
  <div class="content">
    <ul>
      <li class="title">
        <a href="/">
          <img src="/bb_logo_sm.png" alt="" />
          <h1>BlueButton.js</h1>
        </a>
      </li>
      <!--
      <%= header_link "About", "/about" %>
      <%= header_link "Community", "/community" %>
      <%= header_link "Contributing", "/contributing" %>
      <%= header_link "Docs", "/docs" %>
      -->
    </ul>
  </div>
</div>
