<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>BlueButton.js</title>
    <meta name="description" content="BlueButton.js">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class="single-page">
    
    <%= erb :'layouts/_header' %>
    
    <div class="content-area">
      <div class="page">
        <%= yield %>
      </div>
    </div>
    
    <%= erb :'layouts/_footer' %>
    
  </body>
</html>
