
<div class="header">
  <div class="content">
    <img src="bb_logo_lrg.png" alt="" />
    <h1>Blue Button Developer Center</h1>
    <ul>
      <li><a href="http://twitter.com/bluebuttondev" target="_blank">follow @bluebuttondev</a></li> | 
      <li><a href="https://github.com/blue-button" target="_blank">Github</a></li>
      <!--
      <li><a href="#">News</a></li> |
      <li><a href="#">Community</a></li> |
      <li><a href="#">About</a></li>
      -->
    </ul>
  </div>
</div>

<div class="content-area">
  <div class="content">
    <ul>
      <li>
        <a href="/getting_started"><h1>BlueButton.js</h1></a>
        <h2>A JavaScript library for Blue Button data.</h2>
        <p>BlueButton.js allows web developers to parse and navigate complex health data with ease. The library works with Continuity of Care Documents in XML defined in the C32 and C-CDA standard.</p>
        <a href="/getting_started" class="button">Preview Documentation</a>
      </li>
    </ul>
  </div>
</div>
