
<div class="title">
  <div class="content">
    <img src="bb_logo_lrg.png" alt="Blue Button Logo" />
    <h1>BlueButton.js</h1>
    <h2>A JavaScript library for Blue Button data.</h2>
    <!--
    <ul>
      <li><a href="http://twitter.com/bluebuttondev" target="_blank">follow @bluebuttondev</a></li> | 
      <li><a href="/docs">Documentation</a></li> | 
      <li><a href="http://github.com/blue-button/bluebutton.js" target="_blank">GitHub</a></li> | 
      <li><a href="/contributing">Contributing</a></li> |
      <li><a href="/community">Community</a></li> |
      <li><a href="/about">About</a></li>
    </ul>
    -->
  </div>
</div>

<div class="content-area">
  <div class="content">
    
    <!-- <h1>Getting Started</h1> -->
    
    <p>BlueButton.js allows web developers to parse and navigate complex health data with ease. The library currently supports CCDA and VA C32 XML. While development is still underway, you can <!-- <a href="/docs/getting_started">preview the documentation</a> --><!-- , <a href="/community">contribute</a> to the project, --><a href="/json">try the demo</a> or download the developer preview build below.</p>
    
    <a href="/bluebutton-latest.js" class="button">Download Developer Preview</a>
    
    <!--
    <ul>
      <li>
        <a href="/getting_started"><h1>BlueButton.js</h1></a>
        <h2>A JavaScript library for Blue Button data.</h2>
        <p>BlueButton.js allows web developers to parse and navigate complex health data with ease. The library works with Continuity of Care Documents in XML defined in the C32 and C-CDA standard.</p>
        <a href="/getting_started" class="button">Preview Documentation</a>
      </li>
    </ul>
    -->
    
  </div>
</div>
