---
layout: main
---

<div class="section docs">
  <div class="content">
    
    <a href="javascript:toggleDocsMenu();" class="toggle-docs-menu">Menu</a>
    
    <div id="sidebar" class="sidebar">
      
      <h1><a href="#parsing">Parsing Documents</a></h1>
      <ul>
        <li><a href="#parsing-overview">An Overview</a></li>
        <li><a href="#parsing-node">Node Usage</a></li>
        <li><a href="#parsing-browser">Browser Usage</a></li>
        <li><a href="#parsing-python">Python+Node Usage</a></li>
      </ul>
      
      <h1><a href="#generating">Generating Documents</a></h1>
      <ul>
        <li><a href="#generating-overview">An Overview</a></li>
        <li><a href="#generating-node">Node Usage</a></li>
        <li><a href="#generating-browser">Browser Usage</a></li>
        <li><a href="#generating-python">Python+Node Usage</a></li>
      </ul>
      
      <h1><a href="#logistics">Logistics</a></h1>
      <ul>
        <li><a href="#logistics-build">Building</a></li>
        <li><a href="#logistics-test">Testing</a></li>
        <li><a href="#logistics-github">Bugs and Contributions</a></li>
      </ul>
      
    </div>
    
    <div class="page">
      {{ content }}
    </div>
  </div>
</div>

<script>
  function toggleDocsMenu() {
    var el = document.getElementById('sidebar');
    if (el.style.display === '') el.style.display = 'none';
    
    if (el.style.display === 'block') {
      el.style.display = 'none';
    } else {
      el.style.display = 'block';
    }
  }
</script>
