---
layout: main
---

<div class="section docs">
  <div class="content">
    
    <a href="javascript:toggleDocsMenu();" class="toggle-docs-menu">Menu</a>
    
    <div id="sidebar" class="sidebar">
      
      <h1><a href="#">Getting Started</a></h1>
      <ul>
        <li><a href="#">Understanding Data</a></li>
        <li><a href="#">Parsing Documents</a></li>
        <li><a href="#">Generating Documents</a></li>
        <li><a href="#">Rendering Data</a></li>
      </ul>
      
      <h1><a href="#">Document Types</a></h1>
      <ul>
        <li><a href="#">CCDA</a></li>
        <li><a href="#">C32</a></li>
        <li><a href="#">Sample Data</a></li>
      </ul>
      
      <h1><a href="#">Testing</a></h1>
      
    </div>
    
    <div class="page">
      {{ content }}
    </div>
  </div>
</div>

<script>
  function toggleDocsMenu() {
    var el = document.getElementById('sidebar');
    if (el.style.display === '') el.style.display = 'none';
    
    if (el.style.display === 'block') {
      el.style.display = 'none';
    } else {
      el.style.display = 'block';
    }
  }
  
  window.addEventListener('resize', function (event) {
    var el = document.getElementById('sidebar');
    if (document.width > 768) {
      el.style.display = 'block';
    } else {
      el.style.display = 'none';
    }
  });
</script>
