<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>BlueButton.js</title>
    <meta name="description" content="BlueButton.js">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet'> -->
    <!-- <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/tomorrow.min.css"> -->
  </head>
  <body class="docs">
    
    {% include header.html %}
    
    <div class="content-area">
      <div class="sidebar">
        <ul>
          <li {% if page.url == '/docs/index.html' %}class="active"{% endif %}><a href="/docs"><div>Getting Started</div></a></li>
          
          <!--
          
          <li {% if page.url == '/docs/concepts.html' %}class="active"{% endif %}><a href="/docs/concepts.html"><div>Core Concepts</div></a></li>
          
          -->
          
          <li {% if page.url == '/docs/json/index.html' %}class="active"{% endif %}><a href="/docs/json"><div>Blue Button JSON</div></a></li>
          
          <ul>
            <li {% if page.url == '/docs/json/demographics.html' %}class="active"{% endif %}><a href="/docs/json/demographics.html"><div>Demographics</div></a></li>
            
            <li {% if page.url == '/docs/json/allergies.html' %}class="active"{% endif %}><a href="/docs/json/allergies.html"><div>Allergies</div></a></li>
            
            <li {% if page.url == '/docs/json/encounters.html' %}class="active"{% endif %}><a href="/docs/json/encounters.html"><div>Encounters</div></a></li>
            
            <li {% if page.url == '/docs/json/immunizations.html' %}class="active"{% endif %}><a href="/docs/json/immunizations.html"><div>Immunizations</div></a></li>
            
            <li {% if page.url == '/docs/json/labs.html' %}class="active"{% endif %}><a href="/docs/json/labs.html"><div>Labs</div></a></li>
            
            <li {% if page.url == '/docs/json/medications.html' %}class="active"{% endif %}><a href="/docs/json/medications.html"><div>Medications</div></a></li>
            
            <li {% if page.url == '/docs/json/problems.html' %}class="active"{% endif %}><a href="/docs/json/problems.html"><div>Problems</div></a></li>
            
            <li {% if page.url == '/docs/json/procedures.html' %}class="active"{% endif %}><a href="/docs/json/procedures.html"><div>Procedures</div></a></li>
            
            <li {% if page.url == '/docs/json/vitals.html' %}class="active"{% endif %}><a href="/docs/json/vitals.html"><div>Vitals</div></a></li>
            
          </ul>
          
          <!--
          
          <li {% if page.url == '/docs/resources.html' %}class="active"{% endif %}><a href="/docs/resources.html"><div>Resources</div></a></li>
          
          -->
          
        </ul>
      </div>
      
      <div class="page">
        {{ content }}
      </div>
    </div>
    
    {% include footer.html %}
    
    <!--
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    -->
  </body>
</html>
